#map{
    min-width: 400px;
    min-height: 400px;
    margin: 40px;
    height: 650px;
}
#map .ol-mouse-position{
    background-color: rgba(0,60,136,0.3);
    top: 60px;
    color: aliceblue;
}

#map .ol-zoom{
    top: 127px;
}
#map .capa-base {
    top: 170px;
    left: .5em;
}

#map .capa-territorio {
    top: 135px;
    left: .5em;
}

#map .ol-touch .capa-base {
    top: 80px;
}

#map .mostrar-agave {
    top: 100px;
    left: .5em;

}
#map .mostrar-agave button {
    background-color: lightslategray;

}
#map .ol-touch .mostrar-agave {
    top: 120px;
}

#map .mostrar-aguacate {
    top: 135px;
    left: .5em;

}
#map .mostrar-aguacate button {
    background-color: lightslategray;

}
#map .ol-touch .mostrar-aguacate {
    top: 155px;
}

#map .mostrar-manzana {
    top: 170px;
    left: .5em;

}
#map .mostrar-manzana button {
    background-color: lightslategray;

}
#map .ol-touch .mostrar-manzana {
    top: 185px;
}

#map .mostrar-estados {
    top: 165px;
    left: .5em;

}
#map .mostrar-estados button {
    background-color: lightslategray;

}
#map .ol-touch .mostrar-estados {
    top: 185px;
}

.sidepanel {
    background: #1F6B75;
    width: 20%;
    height: 100%;
    float: left;
}

.sidepanel-title {
    width: 100%;
    font-size: 3em;
    color: #ffffff;
    display: block;
    text-align: center;
}